*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(147, 104, 144);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper .loading {

    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.loading .loader{
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0.3rem;
    animation: load 0.7s ease infinite;
}

 .loader.one{
    animation-delay: 0.3s;
}
.loader.two{
    animation-delay: 0.4s;
}
.loader.three{
    animation-delay: 0.5s;
}


@keyframes load {
    0%{
      width : 30px;
      min-height: 30px;
    }
    50%{
        width: 20px;
        min-height: 20px;
    }
}





