*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(129, 124, 91);
}

.card{
    width: 70%;
    background-color: rgb(147, 100, 70);
    padding: 1rem;
    margin: 1rem;
}

.card-title{
color: rgb(104, 56, 36);
font-weight: 600;
}


::-webkit-scrollbar{
 background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#8EC5FC,#FFBBEC);
    border-radius: 10px;
}